#planetWrapper {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vw;
  width: 70vw;
}

#planetImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#titleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 70vw;
}

@media screen and (min-width: 800px) {
  #planetWrapper {
    height: 600px;
    width: 600px;
  }

  #titleImg {
    width: 600px;
  }
  /* #planetWrapper {
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    height: 600px;
    width: 1200px;
  }

  #planetImage {
    height: 1200px;
    width: 1200px
  }

  #titleImg {
    width: 600px;
    transform: translate(-50%, -50%);
  } */
}